<link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
<div id="mc_embed_signup">
<form action="https://gmail.us20.list-manage.com/subscribe/post?u=958b8b86d22f99915a6200b7e&amp;id=0f36881847" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0">
    <div id="mc_embed_signup_scroll" style="border: 1px solid #909090; border-radius: 5px; width: 290px; padding: 8px; padding-left: 15px">
	<label for="mce-EMAIL" style="color: #505050; font-weight: 500;">Ontvang een update bij nieuwe posts</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email-adres" required style="color: #909090; width: 260px">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_958b8b86d22f99915a6200b7e_0f36881847" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Abonneer" name="subscribe" id="mc-embedded-subscribe" class="button" style="background-color: #fff; color: #505050; border: 1px solid #909090; width: 125px"></div>
    </div>
</form>
</div>