.tooltip {
  position: relative;
  font-size: 0.8rem;
  cursor: pointer;

  .tooltipimage {
    position: relative;
    top: -2px;
    height: 1rem;
    z-index: 5;
  }

  .tooltiptext {
    background-color: #F0F0F0;
    color: #000000;
    position: absolute;
    left: -100px;
    top: 21px;
    width: 200px;
    padding: 0.5rem 0.7rem 0.6rem;
    border-radius: 2px;
    box-shadow: 1px 2px 4px grey;
    cursor: auto;
    opacity: 0;
    z-index: 0;
  }

  &:hover .tooltiptext:not(:hover) {
    opacity: 1;
    z-index: 10;
  }
}

.noSelect {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}